/*
 * TAG OVERRIDES
 */

@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700&display=swap');

html {
  font: 18px/24px 'Barlow', sans-serif;
  color: #333333;
  border-width: 0 0 2px 0;
  border-radius: 0;
}

body {
  margin: 0;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

button,
input {
  font: 19px/24px 'Barlow', sans-serif;
  color: #333333;
  border-width: 0 0 2px 0;
  border-radius: 0;
}

a {
  color: #222;
  text-decoration: none;
}

.h1 {
  font-weight: 500;
  font-size: 2rem;
}

.logo {
  background: url(../img/hbi_logo.svg) center center no-repeat;
  background-size: contain;
  margin-top: 3rem;
  margin-bottom: 4rem;
  height: 2.5rem;
  display: block;
}

.title {
  border-bottom: 1px solid #d4d4d4;
  text-transform: uppercase;
}

.p {
  max-width: 20rem;
  padding: 2rem;
  display: inline-block;
}

.download {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.app {
  max-width: 50rem;
  margin: 0px auto;
  font-size: 16px;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.button {
  outline: 0;
  background-color: #ffed14;
  border: 0;
  padding: 6px 20px;
  font-size: .85rem;
  border-radius: 26px;
  font-weight: 400;
  cursor: pointer;
}

.button--fullwidth {
  margin: 7px auto 5px auto !important;
  background-color: #f3f3f3;
}

.footer {
  font-size: .8rem;
  line-height: 1.2rem;
  border-top: 1px solid #d4d4d4;
}

.emoji {
  width: 3rem;
}

.flexbox {
  display: flex;
  margin: 0px auto;
  max-width: 45rem;
}

.mod--displayblock {
  display: block;
  margin: 0px auto;
}

@media only screen and (max-width: 680px) {
  .flexbox {
    align-items: center;
    flex-direction: column;
  }
}

.p--lessmargin {
  margin-bottom: -2rem;
}

/* Overrides */
.jss2 {
  background-color: #ffffff !important;
}

.jss39 {
  background-color: #ffffff !important;
  font-size: 0.85rem !important;
  font-weight: 500 !important;
}

.MuiTypography-body2 {
  font-family: 'Barlow', sans-serif !important;
}

button.MuiButtonBase-root.MuiIconButton-root:first-of-type:hover {
  background: none;
}

button.MuiButtonBase-root.MuiIconButton-root:first-of-type:after {
  content: "filter categories";
  position: absolute;
  font-size: .85rem;
  width: 7rem;
  right: -6.2rem;
  top: 13px;

}
