<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8" content="">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="header">
    <div class="logo"></div>
    <div class="title">
      <h1 class="h1">X Journalism</h1>
    </div>
    <div class="subline">
      <p class="p">A research project and database about the diverse names we give to journalism.  Go ahead, explore and contribute.</p>
    </div>
  </div>
  <div class="app"></div>
</body>
</html>